{% extends "layout.html" %}
{% block title -%}
    {{ title }}
{%- endblock %}
{% block hstyle -%}
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="../static/css/memdash.css" type="text/css" media="all"/>
{%- endblock %}
{% block body -%}
{% block navigation -%}
    {{ nav }}
{%- endblock %}
<!-- layout -->
<div id="layout" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">Admin</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Manage Servers </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="message"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#additem">
                    Add New Item
                    </button>
                    <table class="table table-condensed" id="servers">
                        <thead>
                            <tr><td>Server</td><td>Port</td><td>Actions</td><td></td></tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> <!-- layout  -->
<div class="modal fade" id="additem">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add Item</h4>
      </div>
      <div class="modal-body">
        <label for="server-name">Server Name</label>
        <input type="text" class="form-control" id="server-name" placeholder="Enter servername">
        <label for="server-port">Port</label>
        <input type="text" class="form-control" id="server-port" placeholder="Server port">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="insert-server">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="updateitem">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Edit Item</h4>
      </div>
      <div class="modal-body">
        <label for="server-name">Server Name</label>
        <input type="text" class="form-control" id="eserver-name" placeholder="Enter servername">
        <label for="server-port">Port</label>
        <input type="text" class="form-control" id="eserver-port" placeholder="Server port">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="update-server">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% include 'help.html' %}
{% endblock %}
{% block fscript -%}
    <script src="../static/js/all.js"></script>
    <script src="../static/js/admin.js"></script>
{%- endblock %}