{% extends "layout.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block navigation %}
    {{ nav }}
{% endblock %}
{% block body %}
<!-- layout -->
<div id="layout" class="container">
    <div class="row">
        <div class="col-md-12">
             <div class="row">
                <div class="col-md-8">
                    <ol class="breadcrumb">
                        <li class="active">Home</li>
                    </ol>
                </div>
                <div class="col-md-4 timer">
                    <span>Last Refresh: </span>
                    <span id="refresh-time">0</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 server-status">
                            <h2>Server status</h2>
                            <div class="row server-onoff"></div>
                        </div>
                        <div class="col-md-12">
                            <div class="row stats-title">
                                <h2>Overall Statistics</h2>
                            </div>
                            <div class="row general-stats"></div>                            
                        </div>
                        <!-- graph status -->                        
                        <div class="col-md-12">
                            <div class="row chart-row">
                                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    <span></span> <b class="caret"></b>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <h4>Hits And Misses</h5>
                                    <canvas id="hits-misses" width="300px" height="120px"></canvas>
                                    <ul class="chart-legend">
                                        <li class="hits">Hits</li>
                                        <li class="misses">Misses</li>
                                    </ul>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <h5>Get and Set</h5>
                                    <canvas id="graph-cmds" width="300px" height="120px"></canvas>
                                    <ul class="chart-legend">
                                        <li class="get">Get</li>
                                        <li class="set">Set</li>
                                    </ul>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <h5>Cached Items</h5>
                                    <canvas id="graph-cacheditems" width="300px" height="120px"></canvas>
                                    <ul class="chart-legend">
                                        <li class="cached">Cached Items</li>
                                    </ul>
                                </div>
                                <div class="col-md-10 col-md-offset-1">
                                    <h5>Memory Utilization (MB)</h5>
                                    <canvas id="graph-memory" width="300px" height="120px"></canvas>
                                    <ul class="chart-legend">
                                        <li class="memory">Memory Utilization </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- detail-stats -->
                <div class="detail-stats col-md-12">
                    <table id="global-statics-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Server</th>
                                <th>Version</th>
                                <th>Total Items</th>
                                <th>Time</th>
                                <th>Uptime</th>
                                <th>Total Connections</th>
                                <th>Current Connections</th>
                                <th>Storage Available (Mb)</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>Server</th>
                                <th>Version</th>
                                <th>Total Items</th>
                                <th>Time</th>
                                <th>Uptime</th>
                                <th>Total Connections</th>
                                <th>Current Connections</th>
                                <th>Storage Available (Mb)</th>
                            </tr>
                        </tfoot>
                    </table>
                </div> <!-- //detail-stats -->
            </div> <!-- //row -->
       </div> <!-- //col-md12 -->
   </div>
</div> <!-- //layout -->
{% include 'help.html' %}
{% endblock %}
{% block fscript %}
    {{ super() }}
    <script src="static/js/chart.js"></script>
    <script type="text/javascript" src="static/js/moment.js"></script>
    <script type="text/javascript" src="static/js/daterangepicker.js"></script>
    <script src="static/js/home.js"></script>
{% endblock %}