<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title -%}{%- endblock %} - MemDash</title>
        {% block hstyle -%}
            <!--<link rel="stylesheet" href="static/css/memdash.min.css" type="text/css" media="all"/>-->
            <link rel="stylesheet" href="static/css/source/bootstrap.min.css" type="text/css" media="all"/>
            <link rel="stylesheet" href="static/css/source/dataTables.bootstrap.css" type="text/css" media="all"/>
            <link rel="stylesheet" href="static/css/source/memdash.css" type="text/css" media="all"/>
        {%- endblock %}
        {% block hscript -%}
            <script src="static/js/pace.min.js"></script>
        {%- endblock %}
    </head>
    <body>
        {% block navigation %}{% endblock %}
        {% block body %}{% endblock %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">MemDash v1.1Beta, This product is licensed under the <a href="http://opensource.org/licenses/mit-license.html"> MIT license</a></p>
        </div>
    </footer>
    {% block fscript -%}
    <script src="static/js/all.js"></script>
    {%- endblock %}
    </body>
</html>