html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  margin-top: 44px;
  background: #D8D8D8;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: #313A49;
}

.container .text-muted {
  margin: 20px 0;
}

a a:hover, a:active, a:focus {
  outline: 0;
}

.progress-sm {
    height: 8px;
}

#load {
    position: absolute;
    width: 100%;
    z-index: 501;
    background: #2672EC;
    padding: 40px 50px 10px 50px;
    display: none;
    top: 30%;
}
#load img {
    position: relative;
    opacity: 1;
    z-index: 541;
    height: 128px;
    width: 128px;
    left: 40%;
}
#load .message {
    position: relative;
    left: 40%;
    color: #FFFFFF;
}

#mask{
    z-index: 500;
    position: fixed;
    background: transparent;
    background-color: #ccc;
    display: none;
    opacity:0.5;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;

}

.server-offine {
    color: #FF0000;
}

.server-online {
    color: #7CFC00;
}


/* sidebar */
.sidebar {
  padding: 30px 0px 0px 0px;
}
.nav-pills > li > a {
   border-radius: 0px;
    word-wrap: break-word;
}


.op-teal {
    background-color: rgba(68, 141, 124, 0.25);
    border-bottom: 2px solid rgba(68, 141, 124, 0.05);
    border-radius: 0px;
    padding: 5px 15px 5px 15px;
}

.op-purple {
    background-color: rgba(113, 70, 185, 0.25);
    border-bottom: 2px solid rgba(113, 70, 185, 0.05);
    border-radius: 0px;
    padding: 5px 15px 5px 15px;
}

.op-orange {
    background-color: rgba(255, 142, 10, 0.25);
    border-bottom: 2px solid rgba(255, 142, 10, 0.05);
    border-radius: 0px;
    padding: 5px 15px 5px 15px;
}

.op-red {
    background-color: rgba(157, 30, 75, 0.25);
    border-bottom: 2px solid rgba(157, 30, 75, 0.05);
    border-radius: 0px;
    padding: 5px 15px;
}

.op-blue {
    background-color: rgba(224, 239, 249, 1);
    border-radius: 0px;
    border: 1px solid rgba(68, 143, 194, 0.33);
    padding: 5px 15px 5px 15px;
}
.op-green {
    background-color: rgba(225, 255, 237, 1);
    border-radius: 0px;
    border: 1px solid rgba(33, 180, 91, 0.38);
    padding: 5px 15px 5px 15px;
}

.general-stats{
  background-color: #E1E1E1;
  padding-bottom: 15px;
  padding-top: 15px;
}

.detail-stats {
    background: #F5F5F5;
    border-top: 2px solid #D8D8D8;
    padding-top: 30px;
}
.detail-stats .nav-tabs {
    background-color: #428BCA;
    padding: 5px;
}
.detail-stats .nav-tabs > li > a {
    color: #FFF;
}

.detail-stats .nav-tabs > li.active > a,
.detail-stats .nav-tabs > li.active > a:hover,
.detail-stats .nav-tabs > li.active > a:focus {
    color: #FFF;
    cursor: default;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.23);
    border: 1px solid #6EA6D6;
}

.detail-stats .nav > li > a:hover, .detail-stats .nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.23);
    border: 1px solid #6EA6D6;
}

.detail-stats .tab-content {
    padding: 10px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 5px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  border: solid 5px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.progress{
  border-radius: 0px;  
}

 .stats-title {
    background: rgba(222, 222, 222, 1);
    padding: 10px;
    border-top: 1px solid rgba(216, 216, 216, 1);
    border-bottom: 1px solid rgba(216, 216, 216, 1);
    font-weight: 500;
 }

.breadcrumb {
    padding: 5px 0px 5px 0px;
    margin-bottom: 0px;
    background: transparent;
}
.server-onoff .col-md-2 p{
  padding: 10px;
}
.server-onoff .col-md-2 .online {
    background: #A2FEA0;
}

.server-onoff .col-md-2 .offline {
    background: rgba(254, 187, 160, 1);
}


.server-onoff .col-md-2 p {
    word-wrap: break-word;
}

.col-md-offset {
  margin-left: 4.333%;
}

.timer {
  padding: 5px 0px 0px;
}

/* Charts */
.chart-row {
  background: none repeat scroll 0% 0% #DEDEDE;
  padding: 30px;
  margin-top: 2px solid #D8D8D8;
}

.chart-legend ul {
  list-style: none;
  width: 100%;
  margin: 30px auto 0;
}
.chart-legend li {
  text-indent: 16px;
  line-height: 24px;
  position: relative;
  font-weight: bold;
  display: block;
  width: 50%;
  font-size: 0.8em;
}
.chart-legend  li:before {
  display: block;
  width: 10px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 3px;
  content: "";
}
.hits:before { background-color: #637b85; }
.misses:before { background-color: #2c9c69; }
.get:before { background-color: #CD7617; }
.set:before { background-color: #F4CB3D; }
.cached:before { background-color: #1E8DAB }
.memory:before { background-color: #804801 }

.stat-label {
  font-size: 2.5em;
  display: block;
}
.general-stats > div:nth-child(3) {
  padding-top: 15px;
}