<div class="row">
    <!-- total connections -->
    <div class="col-md-3" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Total number of connections opened since the server started running">
        <div class="op-orange">
            <span class="stat-label">{{ total_connections }}</span>
            <span>Total connections</span>
        </div>
    </div> <!-- //total connections -->

    <!-- total uptime -->
    <div class="col-md-3" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Number of secs since the server started">
        <div class="op-teal">
            <span class="stat-label">{{ uptime }}</span>
            <span>Uptime</span>
        </div>
    </div><!-- //total uptime -->

    <!-- server time -->
    <div class="col-md-3" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Current UNIX time according to the server">
        <div class="op-purple">
            <span class="stat-label">{{ server_time }}</span>
            <span>Time</span>
        </div>
    </div> <!-- //server time -->

    <!-- current items -->
    <div class="col-md-3" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Current number of items stored">
        <div class="op-teal">
            <span class="stat-label">{{ curr_items }}</span>
            <span>Current items</span>
        </div>
    </div> <!--// current items -->
</div>
<div class="row">
    <!-- cas hits -->
    <div class="col-md-3" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Number of successful CAS reqs.">
        <div class="op-purple">
            <span class="stat-label">{{ cas_hits }}</span>
            <span>CAS hits</span>
        </div>
    </div><!--//cas hits -->

    <!-- cas misses -->
    <div class="col-md-3" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Number of CAS reqs against missing keys.">
        <div class="op-red">
            <span class="stat-label">{{ cas_misses }}</span>
            <span>CAS missess</span>
        </div>
    </div><!--// cas misses -->

    <!-- get commands -->
    <div class="col-md-3" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Cumulative number of retrieval reqs">
        <div class="op-teal">
            <span class="stat-label">{{ cmd_get }}</span>
            <span>Get commands</span>
            </div>
    </div><!--//get commands -->

    <!-- set commands -->
    <div class="col-md-3" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Cumulative number of storage reqs">
        <div class="op-orange">
            <span class="stat-label">{{ cmd_set }}</span>
            <span>Set commands</span>
        </div>
    </div><!--//set commands -->
</div>

<div class="row">
    <div class="col-md-6">
        <div class="op-blue">
            <h4>Memory Utilization (<strong>{{ storage_percentage }}%</strong>)</h4>
            <div class="progress progress-sm">
                <div class="progress-bar {{ storage_color }}" role="progressbar" aria-valuenow="{{ storage_now }}" aria-valuemin="0" aria-valuemax="{{ commands_max }}" style="width:{{ storage_percentage }}%;"></div>
            </div>
            <p><strong>{{ storage_now }}</strong> Mbytes of {{ storage_max }} Mbytes</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="op-green">
            <h4>Hit Ratio (<strong>{{ commands_percentage }}%</strong>)</h4>
            <div class="progress progress-sm">
                <div class="progress-bar {{ command_color }}" role="progressbar" aria-valuenow="{{ commands_now }}" aria-valuemin="0" aria-valuemax="{{ commands_max }}" style="width:{{ commands_percentage }}%;"></div>
            </div>
            <h6>{{ commands_now }} successfull Get commands of <strong>{{ commands_max }} total get commands</strong></h6>
        </div>
    </div>
</div>
